
.linenodiv pre {
  border-right: solid 1px #e6e9ea;
  margin: 0;
  padding: 12px 12px;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 12px;
  line-height: 1.5;
  color: #d9d9d9
}

table.codehilitetable { margin: 0; }
table.codehilitetable tbody { border: 1px solid #e1e4e5; }
table.codehilitetable td { border: 0 !important; margin: 0; }

table.codehilitetable td.linenos { border: 0; padding: 0; }
table.codehilitetable td.code { border: 0; padding: 0; }
table.codehilitetable td.code div.codehilite { border: 0 !important; margin: 0; }

td .linenodiv { border: 0; }

div[class^='codehilite'] {
  border: 1px solid #e1e4e5;
  padding: 0px;
  overflow-x: auto;
  background: #fff;
  margin: 1px 0 24px 0
}

div[class^='codehilite'] div[class^='codehilite'] {
  border: none;
  background: none;
  margin: 0
}

div[class^='codehilite'] pre {
  white-space: pre;
  margin: 0;
  padding: 12px 12px;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 12px;
  line-height: 1.5;
  display: block;
  overflow: auto;
  color: #404040
}

div[class^='codehilite'] pre code {
  padding: 0;
  border: 0;
}

@media print {
  div[class^='codehilite'],
  div[class^='codehilite'] pre {
      white-space: pre-wrap
  }
}

.rst-content details.seealso,details.note,details.info {
  background: transparent;
}

ul.subnav .toctree-l4 { display: none; }
